<form>
    <div class="form-group">
        <input type="text" class="form-control" id="question" placeholder="Enter security question">
    </div><br>
    <div class="form-group">
        <p>Add some important tags that you deem important.</p>
        <!--<tags-input ng-model="tags"></tags-input> -->
    </div><br>
    <div class="form-group">
        <input type="file" id="uploadFile">
    </div><br>
    <button type="submit" class="btn btn-success btn-sm">
        Upload Data
        <span class="glyphicon glyphicon-ok"></span>
    </button>
</form>