<!--<div ng-include="'components/navbar/navbar.html'"></div> -->

<div class="jumbotron">
    <div class="alert alert-success">
      <h2 class="text-center">Policy Compliance Verification System</h2>
    </div>
    <div class="container">
        <p class="lead">Welcome to the policy compliance verification system.
            Governance, Risk Management, and Compliance (GRC) are three pillars that 
            work together for the purpose of assuring that an organization meets its objectives. 
            They will be explored and their definition will be provided in detail in this article. 
            Governance is the combination of processes established and executed by the board of directors 
            that are reflected in the organization's structure and how it is managed and led toward achieving goals. 
            Risk management is predicting and managing risks that could hinder the organization to achieve its objectives. 
            Compliance with the company's policies and procedures, laws and regulations, strong and efficient governance is 
            considered key to an organization's success <br>
            <strong>Go to your dashboard to check out more</strong>
        </p>
    </div>
    <div class="row navbar">
      <div class="col-md-4">
        <p class="text-center pull-right">
            <a ng-click="adminLogin()">
                Admin Login
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </p>
      </div>
        <div class="col-md-4">
            <span>&nbsp;</span>
        </div>
      <div class="col-md-4">   
        <p class="text-center pull-left">
            <a ng-click="userLogin()">
                User Login
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </p>
      </div>
    </div>
    
</div>

<footer class="footer">
  <div class="container">
      <p>Policy Compliance Verifier |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
